{% extends "layout.html" %}

{% block content %}

<section>
    <div id = 'welcome-guest'>
        <p>
            Welcome Guest
        </p>
    </div>

    <div id = 'welcome-button'>
        <div id = 'center'>
            <a href="/reserve" class="hero-btn">Make Reservation</a>
        </div>
        <div id = 'center'>
            <a href="/menu_customer" class="hero-btn">See the Menu</a>
        </div>
    </div>

    <!-----footer------>
    <div class = 'footer'>
        <h4>About Us</h4>
        <p>Made by Ziqi Guo (zg2410) & Xinglu Zhou (xz3065)</p>
    </div>
</section>


{% endblock %}