{% extends "layout.html" %}

{% block content %}
<div id = 'back'>
    <h1>Welcome Back</h1>
</div>
<div id = 'navi-button'>
    <div>
        <a href="/waiter" class="hero-btn">Waiter</a>
    </div>
    <div>
        <a href="/chef" class="hero-btn">Chef</a>
    </div>
    <div>
        <a href="/menu" class="hero-btn">View/Edit Menu</a>
    </div>
    <div>
        <a href="/reservation" class="hero-btn">View Reservation</a>
    </div>
</div>

<!-----footer------>
<div class = 'footer'>
    <h4>About Us</h4>
    <p>Made by Ziqi Guo (zg2410) & Xinglu Zhou (xz3065)</p>
</div>


{% endblock %}