{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function(){
        /* prevent making post request when refresh the page */
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        };

        $('.back').click(function(){
            /* redirect the webpage to employee.html */
            window.location.assign("/employee")
        })

        $('.add').click(function(){
            /* redirect the webpage to add_waiter.html */
            window.location.assign("/add_waiter")
        })

        $('#view').click(function(){
            /* redirect the webpage to reservation.html */
            window.location.assign("/reservation")
        })

        $('#waiter').click(function(){
            /* redirect the webpage to waiter-assign.html */
            window.location.assign("/waiter_assign")
        })
    })
</script>

  

<div id = 'search-waiter'>
    <h2>Search Waiter</h2>
    <form accept-charset="UTF-8" action="/waiter/" autocomplete="off" method="POST">                  
        <label for="name">First Name : </label>
        <input name="name"type="text" value=""/> <br />
        <label for="email">Email Address : </label>
        <input name="email" type="text" value="" /> <br />
        <label for="year">Working Years Above # years : </label>
        <input name="year" type="text" value="" /> <br />
        <label for="sensitive">Sensitive Search : </label><input type="checkbox" id = 'chekbox' name="sensitive" /> <br />
        <label for="sort">Sort : </label><input type="checkbox"  id = 'chekbox' name="sort" /> <br />
        <button type="submit" class = 'hero-btn'>Search</button> 
        <button type="submit" class = 'hero-btn' name = 'view-all'>View All Waiters</button>          
    </form>
    <button type="button" class = 'hero-btn add'>Add New Waiter</button>
    <button type="button" class = 'hero-btn add' id = 'waiter'>See Waiter Assignment</button>
    <button type="button" class = 'hero-btn back' id = 'view'>View Reservation</button>
    <button type="button" class = 'hero-btn back'>Back</button>
</div>
 
<div>
    <table class="waiter-table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Working Years</th>
                <th>Language</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Hire Date</th>
                <th>Salary Per Week</th>
                <th>Shift</th>
            </tr>
        </thead>
        <tbody>
            
            {% for row in data %}
            <tr>
                {% for element in row %}
                <td>{{element}}</td>
                {% endfor %}    
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>



<!-----footer------>
<div class = 'footer'>
    <h4>About Us</h4>
    <p>Made by Ziqi Guo (zg2410) & Xinglu Zhou (xz3065)</p>
</div>


{% endblock %}